@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Raleway:wght@100&display=swap');
body {
    background-color: burlywood;
}
h1 {
    color: orange;
}
p {
    font-family: sans-serif;
    color: black;
    font: 18x;
    text-align: center;
}
form {
    text-align: center;
}
.inputform {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
   