@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Raleway:wght@100&display=swap');
body {
    background-color: burlywood;
}
h1 {
    color: orange;
}
p {
    font-family: Bungee, sans-serif;
    color: black;
    font: 18x;
    text-align: center;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
   